name: Latest Dev.to Posts
on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:
  
jobs:
  update-readme-with-blog:
    name: Update this repo with my latest posts on Dev.to
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "DEVTO_LIST"
          feed_list: "https://dev.to/feed/ibrahimcesar"
          max_post_count: 10
